@model ShoppingCart.Models.Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Category</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CategoryDescription) :
         @Html.DisplayFor(model => model.CategoryDescription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.imgSrc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.imgSrc)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CategoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
